body {
    font-family: Anton;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}

.header {
    width: 100%;
    background-color: #4c66af;
    opacity: 0.6;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    border-bottom: 0.5rem solid #3b4a7a;
}


.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}


button {
    margin-top: 2px;
    padding: 10px 20px;
    background-color: #4c66af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    height: 4rem;
}

button:hover {
    background-color: #6a7dba;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 2.7rem;
}

.recipetitle {
    font-size: 2rem;
    margin: 20px 0;
}

main {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 0.5rem solid #3b4a7a;
    border-radius: 2rem;
    padding: 2rem;
}

.searchrecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 0.5rem solid #3b4a7a;
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    margin: 3rem auto;
}
.randomrecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 0.5rem solid #3b4a7a;
    border-radius: 2rem;
    padding: 2rem;
}

img {
    max-width: 90%;
    height: auto;
    border-radius: 2rem;
    padding: 2rem;
}

p {
    background-color: #a8bfff;
    padding: 2rem;
    border-radius: 1rem;
}